html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.center-text {
	text-align: center;
}
h1, h2, h3, h4 {
	margin: 0;
	font-weight: normal;
}
h4, .h4 {
	font-size: 1.3em;
	line-height: 1.4em;
}
.card-title {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 700;
}
.content {
	min-width: 100px;
	min-height: 100px;
	transition: 0.9s ease-in-out;
	transition-property: border-radius, width, height;
}
.content.fast-transition {
	transition-duration: 0.4s;
}
.startup-loader {
	opacity: 1;
	pointer-events:  none;
	transition: opacity 0.9s ease-in-out;
}
.error-data {
	display: none;
	opacity: 0;
	overflow: auto;
	transition: opacity 0.3s ease-in-out;
	position: fixed;
	max-height: 85vh;
	max-width: 95vw;
	top: 0;
	left: 0;
	background-color: white;
	border: 1px solid #777;
	padding: 0.6em 1em;
	border-radius: 1px;
}
.error-data.shown {
	display: block;
	opacity: 1;
}
.error-data pre {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}